:root {
  //color 
  --color-white: #ffffff;
  --color-dark: #414141;
  --color-dark-secondary: #8F8F8F;
  --color-dark-third: #606060;
  --color-gray: #CCCCCC;
  --color-gray-secondary: #F3F2F1;
  --color-green: #70C05B;
  --color-green-hover: #40922c;
  --color-orange: #FF6633; 
  --color-orange-hover: #df8c70; 

  //font sizes 
  --medium: 18px;
  --small: 16px
}

